{% extends "dream/site.html" %}
{% load filter %}
{% load tags %}
{% block head %}
{% endblock %}
{% block title %}梦到{{ dream.title }}是什么意思？{% endblock %}
{% block description %}梦到{{ dream.title }}是什么意思？{{ dream.content|format_description|left_str:200 }}{% endblock %}
{% block keywords %}梦见{{ dream.title }},梦到{{ dream.title }}是什么意思,梦到{{ dream.title }}是怎么回事？,梦见{{ dream.title }}表示什么,做梦梦见{{ dream.title }},梦见{{ dream.title }}好不好,经常梦到{{ dream.title }}{% endblock %}
{% block nav %} <a href="{% url 'dream.cat' cat=dream.cat %}">梦见{{ catName }}</a> {% endblock %}
{% block main-content %}
    {% include 'dream/search-form.html' %}
    <div class="h20"></div>
    <h2 class="text-center">梦见{{ dream.title }}</h2>
    <div style="padding:5px;line-height: 25px;">{{ dream.content|format_content|safe }}</div>
    <div class="h20"></div>
    <div class="box">
        <div class="padding-10">
            <div class="keywords"><span>与{{ dream.title }}相关的词解梦：</span>{% for item in relatedDreams.list %}
                <a href="{% url 'dream.detail' id=item|mongo_id %}" class="{{ keywordClassList|random }}">{{ item.title }}</a> {% endfor %}</div>
            <div class="h20"></div>
            <div class="keywords"><span>与{{ dream.title }}同类的词解梦：</span>{% for item in catDreams.list %}
                <a href="{% url 'dream.detail' id=item|mongo_id %}" class="{{ keywordClassList|random }}">{{ item.title }}</a> {% endfor %}</div>
        </div>
    </div>

{% endblock %}