{% extends "dream/site.html" %}
{% load filter %}
{% block head %}
{% endblock %}

{% block nav %}<a href="{% url 'dream.index' %}">分类解梦</a>{% endblock %}


{% block main-content %}
{% include "dream/search-form.html" %}


{% for k,v in dreams.items %}
<div class="h20"></div>
<h2>{{ v.title }}：</h2>
 <div class="box">
            <div class="padding-10">
            <div class="keywords">
                {% for item in v.list %}
                    <a href="{% url 'dream.detail' id=item|mongo_id %}" class="{{ keywordClassList|random }}">{{ item.title }}</a>
                {% endfor %}
            </div>
            </div>
        </div>
 {% endfor %}
{% endblock %}