<div id="header">
        <div class="topnav fl">
            <div class="mode fl">
               <a href="http://www.sharejs.com">脚本分享网</a>
                <a href="http://www.sharejs.com/codes">代码片段</a>
            <a href="http://www.sharejs.com/js">JS代码</a>
                <a href="http://www.sharejs.com/jQuery">jQuery插件</a>
            </div>


            <div class="top_links fr">
                <a href="http://www.sharejs.com/sitemap/" target="_blank" class="sitemap">网站地图</a>
            </div>
        </div>
        <div class="logopart fl">
            <div class="logo fl">
                <a href="/" title="脚本分享网在线工具 tools.sharejs.com">脚本分享网在线工具</a>
            </div>
        </div>
       {% include 'shared/menu.html' %}

</div>