<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>脚本分享网在线小工具</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="{{ tool.content }}" />
<meta name="keywords" content="{{ tool.keywords }}" />
<meta name="baidu-tc-verification" content="3e8294dabe46e8def7d4b790be59d4cc" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
{%block head%}{%endblock%}
</head>

<body class="bg index">
<div id="container">
<!--header-->
{% include 'shared/head.html' %}
<!--header end-->

<!--body-->
<div id="wrapper" class="mh" >
 <div class="current_nav">
   <ul class="ulcl"><li> 在线小工具列表：</li></ul>
 </div>
<div id="tools">
    <ul class="ulcl">
        {% for key,value in tools.items %}
        <li> + <a href="./{{ key }}.html">{{ value.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<!--body end-->
</div>


<!--footer-->
<div id="footer">
    <div class="hl_wrap">

    </div>
    {% block link %}

    {% endblock %}

    <div class="copyright">
        <div class="info">
        <p>脚本分享网,分享开发的快乐.</p>
        <p>Copyright &copy; {% now "Y" %} <a href="http://www.sharejs.com">sharejs.com</a> <a href="http://www.sharejs.com/" target="_blank">脚本分享网</a>  <a href="http://www.miibeian.gov.cn/">鄂ICP备12003056号</a> </p>
        <p>
            <script type="text/javascript" src="http://www.sharejs.com/js/tongji.js"></script>
        </p>
        </div>
    </div>
</div>
<a class="gotop" href="#"></a>

</body>
</html>
