 <div class="navigation fl">
             <ul class="ulcl">
                <li>
                    <span><a href="/jiemeng/">周公解梦</a></span>
                    <span><a href="./regex-test.html">正则表达式</a></span>
                    <span><a href="./simple2traditional.html">繁简转换</a></span>
                    <span><a href="./pinyin.html">汉字转拼音</a></span>
                    <span><a href="./beautify-javascript.html">格式化JS</a></span>
                    <span><a href="./css-format.html">格式化CSS</a></span>
                    <span><a href="./javascript-encrypt.html">JS代码加密</a></span>
                </li>
                <li>
                    <span><a href="./unit.html">单位转换</a></span>
                    <span><a href="./calendar.html">在线万年历</a></span>
                    <span><a href="./health.html">健康指数</a></span>
                    <span><a href="./periodic-table.html">元素周期表</a></span>
                    <span><a href="./safe-day.html">安全期测试</a></span>
					<span><a href="./calculator.html">科学计算器</a></span>
                </li>
            </ul>
        </div>