{% load tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %} {{ tool.name }} - 在线小工具</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="{{ tool.content }}" />
<meta name="keywords" content="{{ tool.keywords }}" />
<meta name="baidu-tc-verification" content="3e8294dabe46e8def7d4b790be59d4cc" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
{%block head%}{%endblock%}
</head>

<body class="bg index">
<div id="container">
<!--header-->
{% include 'shared/head.html' %}
<!--header end-->

<!--body-->
 <div class="hl_wrap"> </div>
     <div class="current_nav">
                <ul class="ulcl">
                    <li><a href="http://www.sharejs.com">脚本分享网</a></li>
                    <li> > </li>
                    <li><a href="/">在线小工具</a></li>
                    <li> > </li>
                    <li><a href="{% if tool.url %}{{ tool.url }}{% else %}./{{ name }}.html{% endif %}">{{ tool.name }}</a></li>
                </ul>
            </div>
<div class="h30"> </div>

<div id="wrapper" class="mh" >
<h2 style="text-align: center">{{ tool.name }}</h2>
<div class="h20"></div>
<div class="content">{{ tool.content }}</div>
<div class="h20"></div>
<div style="text-align: center">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0652501482160045";
/* 728x90, 创建于 08-12-25 */
google_ad_slot = "3889147664";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<div class="h20"></div>
    {% block main-content %}{% endblock %}
</div>
<div class="h30"></div>
{% tools_list %}
<!--body end-->
</div>

<div class="cl"></div>
<!--footer-->
<div id="footer">
    <div class="hl_wrap">

    </div>
      <div class="links" >

    <p><span class="link">
        合作网站：
			<a href="http://www.haotu.net" target="_blank" title="最好的手机壁纸下载网站">好图网</a>
            <a href="http://www.52ebook.com" target="_blank">我爱E书</a>
            <a href="http://www.haotu.net" target="_blank">手机壁纸下载</a>
            <a href="http://en.sharejs.com" target="_blank">Code Snippets</a>

        </span></p>
    </div>

    <div class="copyright">
        <div class="info">
        <p>脚本分享网,分享开发的快乐.</p>
        <p>Copyright &copy; {% now "Y" %} <a href="http://www.sharejs.com">sharejs.com</a> <a href="http://www.sharejs.com/" target="_blank">脚本分享网</a>  <a href="http://www.miibeian.gov.cn/">鄂ICP备12003056号</a> </p>
        <p>
            <script type="text/javascript" src="http://www.sharejs.com/js/tongji.js"></script>
        </p>
        </div>
    </div>
</div>
<a class="gotop" href="#"></a>
</body>
</html>
